<div id="top-section"></div>
<section class="main">
  <div class="row first-section-animation">
    <div id="text-main" class="col-5 text-main ">
        <div class="firstSectionText first-section-transition">
          <h1>about.</h1>
          <p class="intro">I'm a Full Stack Developer based in Madhya Pradesh, India</p>
          <p class="description">I enjoy turning complex problems into simple, beautiful and intuitive designs. When I'm not
            pushing pixels, you'll find me gardening or working out in the park.</p>
        </div>
    </div>

    <div class="first-section-Image-animation">
       <div class="firstSectionImage first-section-image-transtion">
         <img class="main-img-about" src="../../assets/about-main-img.jpeg" alt="">
       </div>
    </div>
  </div>
  <hr class="first-section-divide">

  <div id="snaps" class="clearfix" style="visibility: visible; opacity: 1;">

    <a id="snaps-1" target="_blank" style="visibility: visible; top: 0px; opacity: 1;">
      <img class="preload" src="../../assets/first.JPG" alt="Mini me">
    </a>
    <a id="snaps-2" target="_blank" style="visibility: visible; top: 0px; opacity: 1;">
      <img class="preload" src="../../assets/second.jpeg" alt="Sunny Sydney">
    </a>
    <a id="snaps-3" target="_blank" style="visibility: visible; top: 0px; opacity: 1;">
      <img class="preload" src="../../assets/third.jpg" alt="Home sweet home">
    </a>
    <a id="snaps-4" target="_blank" style="visibility: visible; top: 0px; opacity: 1;">
      <img class="preload" src="../../assets/fourth.jpg" alt="My workspace">
    </a>
    <a id="snaps-5" target="_blank" style="visibility: visible; top: 0px; opacity: 1;">
      <img class="preload" src="../../assets/fivth.jpg" alt="L-sit pullup">
    </a>
    <a id="snaps-6" target="_blank" style="visibility: visible; top: 0px; opacity: 1;">
      <img class="preload" src="../../assets/sixth.jpeg" alt="Interior design inthusiast">
    </a>
  </div>
</section>
<hr class="first-section-close">
<!-- section seconds of about starts from here -->

<section class="second-section">
  <div class="row">
    <div class="col-12 pie-chart">
      <div class="designer">
        <h2>Part designer</h2>
        <ul class="ul">
          <li>UI design</li>
          <li>UX design</li>
          <li>Design Systems</li>
          <li>Interaction design</li>
          <li>"Making it pop"</li>
        </ul>
      </div>


      <div class="coder">
        <h2>Part coder</h2>
        <ul class="ul">
          <li>Full-Stack development</li>
          <li>Front-end Development</li>
          <li>HTML / CSS / Angular</li>
          <li>JavaScript (kinda)</li>
          <li>Swearing at my computer</li>
          <li>Eating pizza</li>
        </ul>
      </div>

      <div class="square-wrapper">
        <div class="square square-transition">
          <img id="img-0" class="major" src="../../assets/piechart.gif" alt="part UI designer, part Front End Developer" style="visibility: visible; top: 0px; opacity: 1;">
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="first-section-close">

<!-- third section -->
<section class="third-section">
  <div class="row third-section-row">
    <div class="ten-things-about-me">
      <h2 class="random-fact">Random facts</h2>
      <ul class="ten-things">
        <li>I drink a lot of Coffee</li>
        <li>I'm into Web design</li>
        <li>Gardening is my zen time</li>
        <li>I love to workout</li>
        <li>I'm a bit of a clean freak</li>
        <li>I want to live on Pandora</li>
        <li>I'm slightly addicted to <a class="linkedIn" href="#" target="_blank">LinkedIn</a></li>
        <li>Yoda is my mentor</li>
      </ul>
    </div>
    <div class="yoda-img">
    <img class="yoda" id="yoda-img" src="../../assets/yoda.jpg" alt="Yoda rocks">
    </div>
  </div>
</section>
<hr class="first-section-close">

<!-- fourth section -->
<section id="bar-chart" class="dark nopad-b">
  <div class="rowNew">
    <div class="col-12">

      <h2 class="align-r">My skills</h2>
      <ul class="bar-chart" >
        <li class="axis">
          <div class="label">Jedi</div>
          <div class="label">Ninja</div>
          <div class="label">Geek</div>
          <div class="label">Newbie</div>
        </li><li id="aqua" class="aqua p-95" style="visibility: visible; height: 95%; opacity: 1;">
          <div class="percent">95<span>%</span></div>
          <div class="skill">Tea drinking</div>
        </li><li id="pink" class="pink p-90" style="visibility: visible; height: 90%; opacity: 1;">
          <div class="percent">90<span>%</span></div>
          <div class="skill">Workout</div>
        </li><li id="yellow" class="yellow p-95" style="visibility: visible; height: 95%; opacity: 1;">
          <div class="percent">95<span>%</span></div>
          <div class="skill">Coding</div>
        </li><li id="brown" class="brown p-75" style="visibility: visible; height: 75%; opacity: 1;">
          <div class="percent">75<span>%</span></div>
          <div class="skill">Karate</div>
        </li><li id="red" class="red p-40" style="visibility: visible; height: 40%; opacity: 1;">
          <div class="percent">40<span>%</span></div>
          <div class="skill">Gardening</div>
        </li></ul>

    </div>
  </div>
</section>
<hr class="first-section-close">
<section class="light">
  <div class="row alt">
    <div class="col-5 text-middle">
      <h2 class="story">My story</h2>
      <p class="about-me">A little bit more about me and how I built my career as a Full Stack Developer. I’ve included key things I've learned, book recommendations and even some sneak peeks of the first websites I created.</p>
      <p><a routerLink="blog" class="read-article-transition" >Read the article</a></p>
    </div>
    <div id="img-3" class="col-7 align-c" style="visibility: visible; right: 0%; opacity: 1;">
      <a class="read-article-transition" href="#">
        <img class="bottom-image" src="../../assets/bottom-image.jpg" alt="Aman Vyas workspace">
      </a>
    </div>
  </div>
</section>

<footer id="footer" role="contentinfo" style="opacity: 1; top: 0px;">

	<div class="row">
		<div class="col-12">
			<div class="left"><a class="footer-transition" href="https://www.adhamdannaway.com/">© 2021 Aman Vyas</a></div>
			<nav id="nav-footer">
				<ul>
					<li class="page_item page-item-2 current_page_item"><a [routerLink]="['/about']" aria-current="page">about</a></li>
          <!-- <li class="page_item page-item-5"><a >featured</a></li> -->
          <li class="page_item page-item-7"><a  [routerLink]="['/portfolio']">portfolio</a></li>
          <li class="page_item page-item-9"><a [routerLink]="['/blog']">blog</a></li>
          <li class="page_item page-item-11"><a [routerLink]="['/contact']">contact</a></li>
				</ul>
			</nav>
		</div>
	</div>

	<div class="gradient-white">
		<a class="top" id="top" (click)="top()">back to top</a>
	</div>
</footer>

<router-outlet></router-outlet>
